---
export interface Props {
  username: string;
}

const { username } = Astro.props;
---

<div
  class="bg-black py-2 text-center text-sm text-white dark:bg-white dark:text-black"
>
  <a
    href={`https://resumo.me?utm_source=${username}&utm_medium=banner&utm_campaign=resumo-website`}
    target="_blank"
    rel="noopener noreferrer"
    class="font-medium text-white no-underline dark:text-black"
    title="Go to the Resume website"
  >
    This website is powered by Resumo. <strong>Read More</strong> →
  </a>
</div>
