---
import { ContactModal } from "../components/ContactModal";

const { resume } = Astro.props;
---

<div class="relative w-full overflow-x-hidden">
  <div class="px-4 pt-16 pb-8 dark:text-white sm:px-6 sm:pt-24 lg:px-8">
    <h1
      class="text-center text-4xl font-extrabold leading-[1.1] tracking-tighter sm:text-6xl lg:text-7xl xl:text-7xl"
    >
      Hello! I&apos;m,
      <br />
      <span
        class="bg-gradient-to-r from-primary to-secondary bg-clip-text text-5xl text-transparent sm:text-7xl lg:text-8xl xl:text-8xl"
      >
        {resume.name}
      </span>
    </h1>
    <p
      class="mx-auto mt-6 max-w-lg text-center text-xl font-medium leading-tight text-gray-400 sm:max-w-3xl sm:text-2xl md:text-3xl lg:text-4xl"
    >
      {resume.short_description}
    </p>
    <div
      class="mx-auto mt-10 flex max-w-xl flex-col justify-center gap-3 sm:flex-row"
    >
      <a
        class="rounded-md border border-transparent bg-black px-8 py-3 text-center font-medium text-white no-underline hover:bg-gray-800 dark:bg-white dark:text-black dark:hover:bg-gray-300 md:py-3 md:px-10 md:text-lg md:leading-6"
        href="/docs/resume.pdf"
        target="_blank"
      >
        Download resume
      </a>
      <ContactModal client:visible contacts={resume.contacts} />
    </div>
  </div>
</div>
