@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: var(--primary-color, #0e15e1);
  --color-secondary: var(--secondary-color, #13d7de);
}

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .about-you-content p {
    @apply text-lg leading-normal text-current;
  }

  .about-you-content strong {
    @apply relative inline-block text-transparent bg-clip-text bg-linear-to-r from-secondary to-primary;
  }
}
